
data/

.vscode/

vcf_file_extract.py

annotation/

 
.DS_Store
CADD_Data/cadd_human_data.tsv
CADD_Data/cadd_simulated_data.tsv
CADD_Data/humanDerived_InDels.tsv
CADD_Data/simulation_InDels.tsv

/Features/FG5_gc_CpG/hg38.fa

/Features/DNA_shape/hg38*

renv.lock
Annotated_data.csv
output/

/modelling/experimental_data.csv

